@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|PT+Sans');

body {
	font-family: 'PT Sans', sans-serif;
}
h1, h2, h3, h4, h5 {
	font-family: 'Libre Baskerville', serif
}
ul, ol {
	list-style-position: inside
}
li {
	text-indent: 20px;
}
.header {
	display: flex;
    align-items: center;
    justify-content: center;
	background-color: #1A2949;
    overflow: hidden;
    width: 100%;
    margin: -8px;
    height: 139px;
    margin-bottom: 34px;
}
.headerTitle {
	margin: 0;
	color: white;
	font-size: 3em
}
body {
	
	margin-right: -9px;
}
#result {
	text-align: center;
	margin-bottom: 50px;
	font-size: 2.5em;
}
#result1 {
	text-align: center;
	margin-bottom: 50px;
	font-size: 2.5em;
}
#result2 {
	text-align: center;
	margin-bottom: 50px;
	font-size: 2.5em;
}
#result3 {
	text-align: center;
	margin-bottom: 50px;
	font-size: 2.5em;
}
#result4 {
	text-align: center;
	margin-bottom: 50px;
	font-size: 2.5em;
}
#result5 {
	text-align: center;
	margin-bottom: 50px;
	font-size: 2.5em;
}
#result6 {
	text-align: center;
	margin-bottom: 50px;
	font-size: 2.5em;
}
#result7 {
	text-align: center;
	margin-bottom: 50px;
	font-size: 2.5em;
}
.button {
	margin-left:1325px;
	margin-top:-86;
}
.sidebar {
  width: 160px; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #111; 
  overflow-x: hidden; 
  padding-top: 20px;
}
#cenbtn{
	margin-left: 26.5em;
	margin-top:10em;
	background-color: #f44336; 
  border-color: #f44336;
  border-width:1px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  border-radius: 12px;
  transition-duration: 0.4s
}
#cenbtn:hover {
	background-color: white; 
	color: black
  }
#form { 

  text-align: center; 
}
.sidebar a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
  }
  .sidebar a:hover {
	color: #f1f1f1;
  }
